* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

header {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #f9f5ff;
  background-color: #14248a;
}

main {
  background-color: #d4c2fc;
}

footer {
  padding-bottom: 15%;
  background-color: #d4c2fc;
}

.links {
  color: #f9f5ff;
}

.title {
  color: #f9f5ff;
}

.bio {
  text-align: center;
}

.avatar {
  max-width: 25%;
}

.bio-text {
  color: #28262c;
  font-size: 25px;
}

.project {
  text-align: center;
  background-color: #998fc7;
}

.project-img {
  width: 110%;
  padding-right: 5%;
}

.project-header {
  text-align: center;
}

.foot {
  text-align: center;
}

.footer-header {
  text-align: center;
}

.fb-icon {
  max-width: 15%;
}

.li-icon {
  max-width: 30%;
  padding-bottom: 5%;
}

.gh-icon {
  padding-top: 2%;
  padding-bottom: 5%;
}

.contact-info {
  font-size: 30px;
}

.resume-link {
  font-size: 30px;
}

.navActive {
  color: yellow;
}

/* Media queries */
@media screen and (max-width: 992px) {
  .title {
    font-size: 28px;
  }
  .links {
    font-size: 20px;
  }
  .bio-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 25px;
  }
  .links {
    font-size: 17px;
  }
  .bio-text {
    font-size: 15px;
  }
  .gh-icon {
    max-width: 20%;
  }
  .contact-info {
    font-size: 20px;
  }
  .footer-header {
    font-size: 30px;
  }
  footer {
    padding-bottom: 18%;
  }
  .list-title {
    font-size: 20px;
  }
  .list-items {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 20px;
  }
  .links {
    font-size: 12px;
  }
  .bio-text {
    font-size: 13px;
  }
  footer {
    padding-bottom: 32%;
  }
  .project-img {
    width: 105%;
  }
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 12px;
  }
  .links {
    font-size: 8px;
  }
  .bio-text {
    font-size: 10px;
  }
  footer {
    padding-bottom: 77%;
  }
}
