@import '@fontsource/ibm-plex-mono';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
}

.portfolio {
  background-color: black;
}

header {
  /* padding-top: 30px;
  padding-bottom: 50px;
  color: #f9f5ff; */
  position: relative;
  width: 2125px;
  height: 90px;
  left: 200px;
  top: 0px;
  background-color: #1B1B1B;
}

.nav-link h4 {
  padding-top: 10px;
  padding-left: 175px;
  
}

.nav-link a {
  margin-left: 200px;
  
}

/* .fb-icon {
  max-width: 15%;
} */

.li-icon {
  max-height: 10%;
}

.gh-icon {
  /* padding-top: 2%;
  padding-bottom: 5%; */
  max-height: 90%;
}

main {
  
  padding-bottom: 5px;
}

footer {
  padding-bottom: 5%;
  
}

.links-main {
  color: #f9f5ff;
  left: 30px;
}

.links-dropdown {
  color: #f9f5ff;
}
#dropdown {
  color: #f9f5ff;
  display: none;
}

.dropdown-menu[aria-labelledby="dropdown"] {
  background-color: #14248a;
}

.title {
  color: #f9f5ff;
}

.bio {
  text-align: center;
  
}

.avatar {
  max-width: 25%;
}

.bio-text {
  color: #28262c;
  font-size: 25px;
}

.project {
  text-align: center;
  background-color: #998fc7;
}

.project-img {
  width: 110%;
  padding-right: 5%;
}

.project-header {
  text-align: center;
}

.foot {
  text-align: center;
}

.footer-header {
  text-align: center;
}

/* .fb-icon {
  max-width: 15%;
}

.li-icon {
  max-width: 30%;
  padding-bottom: 5%;
}

.gh-icon {
  padding-top: 2%;
  padding-bottom: 5%;
} */

.contact-info {
  font-size: 30px;
}

.resume-link {
  font-size: 30px;
}

.navActive {
  color: yellow;
}


/* Media queries */
@media screen and (max-width: 992px) {
  #dropdown {
    display: inline-block;
    font-size: 28px;
    padding-right: 15%;
    margin-bottom: 4%;
    margin-left: 22%;
  }
  .links-dropdown {
    color: #f9f5ff;
    font-size: 22px;
  }
  .title {
    font-size: 28px;
  }
  .links-main {
    display: none;
  }
  .bio-text {
    font-size: 16px;
  }
  .project-title {
    font-size: 17px;
  }
  a h4 {
    font-size: 17px;
  }
  .list-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #dropdown {
    font-size: 19px;
    margin-bottom: 8%;
    margin-left: 50%;
  }
  .links-dropdown {
    font-size: 17px;
  }
  .title {
    font-size: 20px;
  }
  .bio-text {
    font-size: 12px;
  }
  .project-title {
    font-size: 12px;
  }
  a h4 {
    font-size: 12px;
  }
  .gh-icon {
    max-width: 20%;
  }
  .contact-info {
    font-size: 20px;
  }
  .footer-header {
    font-size: 30px;
  }
  footer {
    padding-bottom: 18%;
  }
  .list-title {
    font-size: 20px;
  }
  .list-items {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  #dropdown {
    font-size: 15px;
    margin-left: 10%;
  }
  .links-dropdown {
    font-size: 15px;
  }
  .title {
    font-size: 15px;
  }
  .bio-text {
    font-size: 13px;
  }
  .project-title {
    font-size: 20px;
  }
  a h4 {
    font-size: 20px;
  }
  footer {
    padding-bottom: 32%;
  }
  .project-img {
    width: 105%;
  }
}

@media screen and (max-width: 390px) {
  /* #dropdown {
    font-size: 10px;
    margin-bottom: 13%;
    margin-left: -30%;
  }
  .links-dropdown {
    font-size: 10px;
  }
  .title {
    font-size: 10px;
  }
  .bio-text {
    font-size: 10px;
  }
  footer {
    padding-bottom: 75%;
  } */
  
  
}
