@import '@fontsource/ibm-plex-mono';
@import '@fontsource/raleway';

:root {
  --pageHeaderTextColor: rgba(255, 255, 255, 1);
  --pageHeaderTextFont: "Raleway";
  --subTextColor: #9C9C9C;
  --btnBackgroundColor: #3F8E00 !important;
  --btnBorder: 1px solid #62BA1B !important;
  --btnBoxShadow: 0px 8px 30px rgba(63, 142, 0, 0.5) !important;
  --btnTextColor: #FFFFFF !important;
  --btnTextBoxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono";
}

.portfolio {
  background-color: black;
}

/*Header section*/
header {
  position: relative;
  width: 2125px;
  height: 80px;
  left: 200px;
  background-color: #2c2c2c;
  border-radius: 0px 0px 40px 40px;
}

.drop-button {
  display: none;
}

.nav-link h4 {
  padding-top: 10px;
  padding-left: 95px;
}

.nav-link h4:hover {
  color: rgb(196, 196, 196);
}

.icons {
  margin-left: 695px;
}
.nav-link a {
  margin-left: 50px;
}

.li-icon {
  max-height: 105%;
}

.gh-icon {
  max-height: 85%;
  margin-left: 675px;
}

/* Main section */
main {
  padding-bottom: 305px;
}

  /* Home page */
.home-container {
  margin-top: 200px;
}

.mobile-col {
   display: none; 
}

.home-row {
  margin-left: 20% !important;
}

.title {
  font-family: var(--pageHeaderTextFont);
  font-weight: 800;
  color: var(--pageHeaderTextColor);
  font-size: 44px;
  line-height: 51.66px;
}

.sec-title {
  font-family: var(--pageHeaderTextFont);
  font-weight: 800;
  color: var(--pageHeaderTextColor);
  font-size: 35px;
  line-height: 51.66px;
}

.sub-text {
  font-weight: 400;
  color: var(--subTextColor);
  font-size: 25px;
}

.sec-sub-text {
  font-weight: 400;
  color: var(--subTextColor);
  font-size: 20px;
}

.homePageBtn {
  box-sizing: border-box;
  align-items: center;
  padding: 21px 64px;
  gap: 10px;
  width: 307.89px;
  height: 63px;
  background-color: var(--btnBackgroundColor);
  border: 1px solid var(--btnBorder);
  box-shadow: var(--btnBoxShadow);
  border-radius: 4px;
}

.homePageBtnText {
  width: 164px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--btnTextColor);
  text-shadow: var(--btnTextBoxShadow);
}

.modal-btn {
  box-sizing: border-box;
  align-items: center;
  padding: 5px 60px;
  gap: 10px;
  width: 150px;
  height: 50px;
  background-color: var(--btnBackgroundColor) !important;
  border: var(--btnBorder) !important;
  box-shadow: var(--btnBoxShadow) !important;
  border-radius: 4px;
}

.modal-btn-text {
  width: 124px;
  height: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--btnTextColor);
  text-shadow: var(--btnTextBoxShadow);
}
.modal-content {
  background-color: #2c2c2c !important;
}
.modal-header {
  border-bottom: #2c2c2c !important;
}
.modal-footer {
  border-top: #2c2c2c !important;
}
.modal-title {
  color: #9C9C9C;
}
.modal-body {
  color: #9C9C9C;
}
.links-main {
  color: #9C9C9C;
  left: 30px;
}
.avatar {
  max-width: 50%;
  border-radius: 600px 600px 600px 600px;
}

/* Project Page */
.project {
  text-align: center;
}

.project-img {
  width: 110%;
  padding-right: 5%;
}

.projectPageBtn {
  box-sizing: border-box;
  align-items: center;
  padding: 21px 30px;
  gap: 10px;
  width: 225px;
  height: 63px;
  background-color: var(--btnBackgroundColor);
  border: 1px solid var(--btnBorder);
  box-shadow: var(--btnBoxShadow);
  border-radius: 4px;
}

.projectPageBtnText {
  width: 164px;
  height: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--btnTextColor);
  text-shadow: var(--btnTextBoxShadow);
}
.project-header-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-header-container h1 {
  text-align: center;
}
.project-container {
  padding-bottom: 100px;
}

/* .project-header {
  text-align: center;
} */

/* .foot {
  text-align: center;
} */

/* .footer-header {
  text-align: center;
} */

.contact-info {
  font-size: 30px;
}

.resume-link {
  font-size: 30px;
}

.navActive {
  color: rgb(196, 196, 196);
}


/* Media queries */
@media screen and (max-width: 1024px) {
  /*Header Section */
  header {
    width: 915px;
    height: 75px;
    left: 55px;
    border-radius: 0px 0px 40px 40px;
  }

  .nav-link h4 {
    padding-top: 10px;
    padding-left: 45px;
    font-size: 15px;
  }

  .icons {
    margin-left: 20px;
  }
  .nav-link a {
    margin-left: 35px;
  }
  
  .li-icon {
    max-height: 70%;
    padding-top: 5px;
  }
  
  .gh-icon {
    max-height: 75%;
    margin-left: 50px;
  }

  
  @media (hover: hover) {
    .nav-link h4:hover {
      color: rgb(196, 196, 196);
    }
  }

  /*Main Section*/
  main {
    padding-bottom: 179px;
  }
   /* Home page */
   .home-container {
    margin-top: 110px;
  }
  .home-row {
    margin-left: 16% !important;
  }
   .title {
    font-size: 30px;
    line-height: 30px;
  }
  
  .bio-text {
    font-size: 14px;
  }
  
  .homePageBtn {
    padding: 21px 16px;
    width: 200px;
    height: 63px;
  }
  
  .homePageBtnText {
    width: 164px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  /* Header Section */
  .drop-button {
    display: inline-block;
  }
  .links-main {
    display: none;
  }
  .li-icon {
    display: none;
  }
  
  .gh-icon {
    display: none;
  }

  header {
    width: 768px;
    height: 80px;
    left: 0px;
    border-radius: 0px 0px 15px 15px;
  }
  .dropdown {
    display: inline-block;
    position: none;
    right: 100px;
    top: 16%;
    width: 718px;
  }
  
  .dropdown-menu {
    max-width: 120%;
    background-color: #2c2c2c !important;
  }
  
  .dropdown-divider {
    color: white;
  }
  .dropdown-menu a {
    color: var(--subTextColor) !important;
  }

  #dropdown-button-drop-0 {
    color: var(--subTextColor);
  }

  .active {
    background-color: rgb(98, 98, 98) !important;
  }

  #not-active {
    background-color: #2c2c2c !important;
  }
  
  .nav-link a {
    margin-left: 0px;
  }
  
  .li-icon-dropdown {
    margin-left: 33%;
  }
  
  .gh-icon-dropdown {
    margin-left: 30%;
  }

  /*Main Section*/
  main {
    padding-bottom: 250px;
  }

   /* Home page */
   .regular-col {
    display: none;
   }

   .mobile-col {
    display: inline-block; 
 }
   .home-container {
    margin-top: 95px;
  }
   .home-row {
    margin-left: 10% !important;
  }
   .title {
    font-size: 18px;
  }
 
  .bio-text {
    font-size: 13px;
  }
  
  .homePageBtn {
    padding: 16px 3px;
    width: 170px;
    height: 55px;
  }
  
  .homePageBtnText {
    
    font-size: 12px;
  }

  .avatar {
    max-width: 70%;
  }
}

@media screen and (max-width: 576px) {
  /* Header Section */
  header {
    width: 576px;
  }
  .dropdown {
    width: 527px;
  }

  /* Main Section */
  main {
    padding-bottom: 115px;
  }

  /* Home page */

  .modal-width {
    max-width: 300px !important;
    margin-left: 117px !important;
  }
   .home-container {
    margin-top: 60px;
  }
   .home-row {
    margin-left: 4% !important;
  }
  .avatar {
    max-width: 50%;
    padding-top: 18px;
    margin-left: 112px;
  }
}

@media screen and (max-width: 390px) {
  /* Header Section */
  header {
    width: 390px;
  }
  .dropdown {
    width: 330px;
  }

  /* Main Section */
  main {
    padding-bottom: 115px;
  }

  /* Home page */
  .modal-width {
    max-width: 250px !important;
    margin-left: 40px !important;
  }
   .home-container {
    margin-top: 35px;
  }
   .home-row {
    margin-left: 0% !important;
  }
  .bio-text {
    font-size: 12px;
  }
  .avatar {
    max-width: 70%;
    padding-top: 34px;
    margin-left: 38px;
  }
}
